body {
    background-image: url(../img/web_site\ background.jpg);
    max-width: 1519.2px;
    margin: auto;
}

/* for nav footer css */
.navbar {
    background-color: #053742;
}

.nav-link {
    color: white;
    font-weight: bold;
}

.nav-link:hover {
    color: #A2DBFA;
}

.navbar-toggler {
    background-color: #E8F0F2;
    border: none;
    color: #A2DBFA;
}

.footer {
    background-color: #053742;
}

.footer p {
    color: white;
    text-align: right;
}

/* for nav footer css end*/

#main_page_img {
    position: relative;
    background-image: url(../img/cameron_highland.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;

    /* for h1 center */
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_page_img h1 {
    position: relative;
    color: white;
    font-size: 150px;
    font-family: 'Jomhuria', cursive;
}

#main_page_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.txt-center {
    display: flex;
    align-items: center;
    text-align: center;
}

.fontJomhuria {
    font-family: 'Jomhuria', cursive;
}

.fontBlue {
    color: #39A2DB;
}

.font-100 {
    font-size: 100px;
}

.font-80 {
    font-size: 80px;
}

.fontContent {
    font-size: 38px;
    line-height: normal;
}

#golden-maple-bridge {
    position: relative;
    background-image: url(../img/golden_maple_bridge.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;

    /* for h2 position */
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}

#golden-maple-bridge h2 {
    position: relative;
    color: white;
    font-size: 65px;
}

#golden-maple-bridge::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;

    /* Initially hidden */
    opacity: 0;
}

#golden-maple-bridge:hover .overlay {
    opacity: 1;
}

.overlay p {
    color: black;
    font-size: 50px;
}

#petunia-garden {
    position: relative;
    background-image: url(../img/petuniagarden.webp);
    background-size: cover;
    background-position: center;
    height: 600px;

    /* for h2 position */
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}

#petunia-garden h2 {
    position: relative;
    color: black;
    font-size: 65px;
}

#petunia-garden::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    pointer-events: none;
}

#petunia-garden:hover .overlay {
    opacity: 1;
}

#stairway {
    position: relative;
    background-image: url(../img/stairway_to_infinity2.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;

    /* for h2 position */
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}

#stairway h2 {
    position: relative;
    color: white;
    font-size: 65px;
}

#stairway::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#stairway:hover .overlay {
    opacity: 1;
}

#carouselExampleAutoplaying .carousel-inner .carousel-item img {
    height: 600px;
    object-fit: cover;
    object-position: center;
}

.btn-color {
    --bs-btn-color: #fff;
    --bs-btn-bg: #053742;
    --bs-btn-border-color: #053742;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(11, 93, 215, 0.815);
    --bs-btn-hover-border-color: rgba(10, 87, 202, 0.731);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgba(10, 87, 202, 0.731);
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #053742;
    --bs-btn-disabled-border-color: #0d6efd
}

.parallax {
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#ferm-nyonya-parallax {
    background-image: url(../img/ferm.jpg);
}

#lakehouse-parallax {
    background-image: url(../img/lakefront.jpg);
}

@media screen and (max-width: 768px) {

    /* for footer css */
    .footer {
        flex-direction: column;
    }

    #footer-logo {
        text-align: center;
        padding-top: 20px;
    }

    #footer-navlink {
        flex-direction: column;
        text-align: center;
    }

    #footer-navlink a {
        padding-top: 16px;
    }

    #footer-social {
        justify-content: center;
    }

    #footer-social img {
        width: 80px;
        padding: 20px;
    }

    #footer-copyright {
        justify-content: center;
    }

    #footer-copyright p {
        text-align: center;
    }

    /* for footer css end */

    #main_page_img h1 {
        font-size: 120px;
    }

    #main_page_img {
        height: 600px;
    }

    #intro h1 {
        font-size: 90px;
        margin-top: 30px;
    }

    #intro .d-flex {
        flex-direction: column-reverse;
    }

    #what-can-do h1 {
        font-size: 90px;
    }

    #what-can-do h2 {
        font-size: 80px;
    }

    #florapark .row {
        flex-direction: column;
    }

    #flora-intro-img {
        display: flex;
        justify-content: center;
    }

    #florapark .row img {
        width: 90%;
    }

    #golden-maple-bridge:hover .overlay {
        opacity: 0;
    }

    #stairway-petuniagarden {
        display: none;
    }

    #row-up {
        flex-direction: column-reverse;
    }

    #row-down {
        flex-direction: column;
    }

    #the-sheep-sanctuary .col-6 {
        width: 100%;
        text-align: center;
    }

    #the-sheep-sanctuary img {
        width: 90%;
    }

    #the-sheep-sanctuary p {
        margin: 24px;
    }

    #carouselExampleAutoplaying .carousel-inner .carousel-item img {
        height: 450px;
        object-fit: cover;
        object-position: center;
    }

    #food-beverages h1 {
        font-size: 90px;
    }

    #ferm-nyonya .row {
        flex-direction: column-reverse;
    }

    #ferm-nyonya .col-3 {
        width: 100%;
    }

    #ferm-nyonya .col-3 img {
        width: 60%;
    }

    #ferm-nyonya .col-4 {
        width: 100%;
        text-align: center;
        padding-left: 24px;
        padding-right: 24px;
    }

    #ferm-nyonya .col-4 p {
        margin: 24px;
    }

    .social-icon {
        justify-content: center;
        margin: 24px;
    }

    .parallax {
        display: none;
    }

    #lakehouse .row {
        flex-direction: column-reverse;
    }

    #lakehouse .col-3 {
        width: 100%;
    }

    #lakehouse .col-3 img {
        width: 60%;
    }

    #lakehouse .col-4 {
        width: 100%;
        text-align: center;
        padding-left: 24px;
        padding-right: 24px;
    }

    #lakehouse .col-4 p {
        margin: 24px;
    }
}

@media screen and (max-width: 415px) {
    #main_page_img h1 {
        font-size: 100px;
    }

    #main_page_img {
        height: 500px;
    }

    #intro h1 {
        font-size: 80px;
    }

    #intro p {
        font-size: 30px;
    }

    #what-can-do h1 {
        font-size: 80px;
    }

    #what-can-do h2 {
        font-size: 60px;
    }

    #what-can-do p {
        font-size: 30px;
    }

    #carouselExampleAutoplaying .carousel-inner .carousel-item img {
        height: 300px;
        object-fit: cover;
        object-position: center;
    }

    #food_beverages h1 {
        font-size: 80px;
    }

    #food_beverages h2 {
        font-size: 60px;
    }

    #food_beverages p {
        font-size: 30px;
    }
}