.container-xxl {
    padding: 0;
    background-image: url(../img/web_site\ background\(opacity-50\).png);
}

/* for nav footer css */
.navbar {
    background-color: #053742;
}

.nav-link {
    color: white;
    font-weight: bold;
}

.nav-link:visited {
    color: white;
}

.nav-link:hover {
    color: #A2DBFA;
}

.navbar-toggler {
    background-color: #E8F0F2;
    border: none;
    color: #A2DBFA;
}

.footer {
    background-color: #053742;
}

.footer p {
    color: white;
    text-align: right;
}

#footer-social {
    justify-content: end;
}

/* for nav footer css end*/

.fontJomhuria {
    font-family: 'Jomhuria', cursive;
}

.font-100 {
    font-size: 100px;
}

.font-35 {
    font-size: 35px;
}

.fontBlue {
    color: #39A2DB;
}

#main_page_img {
    position: relative;
    background-image: url(../img/contact\ background.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;

    /* for h1 center */
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_page_img h1 {
    position: relative;
    color: white;
    font-size: 150px;
}

#main_page_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.btn-color {
    --bs-btn-color: #fff;
    --bs-btn-bg: #39A2DB;
    --bs-btn-border-color: #39A2DB;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(11, 93, 215, 0.815);
    --bs-btn-hover-border-color: rgba(10, 87, 202, 0.731);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgba(10, 87, 202, 0.731);
    --bs-btn-active-border-color: #a2dbfaa7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #39A2DB;
    --bs-btn-disabled-border-color: #0d6efd
}

@media screen and (max-width: 992px) {
    .navbar a {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .footer_logo {
        padding-right: 24px;
    }

    #footer_logo_end {
        padding-right: 24px;
    }

    #footer-copyright {
        justify-content: end;
        padding-right: 24px;
    }
}

@media screen and (max-width: 768px) {
    .navbar a {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* for footer css */
    .footer {
        flex-direction: column;
    }

    #footer-logo {
        justify-content: center;
        text-align: center;
        padding-top: 20px;
    }

    #footer-navlink {
        flex-direction: column;
        text-align: center;
    }

    #footer-navlink a {
        padding-top: 16px;
    }

    #footer-social {
        justify-content: center;
    }

    #footer-social img {
        width: 80px;
        padding: 20px;
    }

    #footer-copyright {
        padding-right: 0;
        justify-content: center;
    }

    #footer_logo_end {
        padding-right: 0;
    }

    #footer-copyright p {
        text-align: center;
    }

    /* for nav footer css end*/

    #main_page_img h1 {
        font-size: 120px;
    }

    #main_page_img {
        height: 600px;
    }

    #get-in-touch h1 {
        font-size: 90px;
    }

    #get-in-touch .row {
        justify-content: center;
    }

    #get-in-touch .row .col-2 {
        display: none;
    }

    #get-in-touch .row .col-8 {
        width: 80%;
    }
}

@media screen and (max-width: 415px) {
    #main_page_img h1 {
        font-size: 100px;
    }

    #main_page_img {
        height: 500px;
    }

    #get-in-touch h1 {
        font-size: 80px;
    }

    #get-in-touch .row .col-8 {
        width: 95%;
    }
}