/* for nav footer css */
.navbar {
    background-color: #053742;
    max-width: 1519.2px;
    margin: auto;
}

.nav-link {
    color: white;
    font-weight: bold;
}

.nav-link:hover {
    color: #A2DBFA;
}

.navbar-toggler {
    background-color: #E8F0F2;
    border: none;
    color: #A2DBFA;
}

.fontBlue {
    color: #39A2DB;
}

.font-100 {
    font-size: 100px;
}

#popular_img a {
    color: black;
    font-size: 38px;
    text-decoration: none;
}

.thumbnail {
    position: relative;
    text-align: center;
}

.thumbnail::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 74%;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.center-caption {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.Lern_bg {
    position: relative;
    text-align: center;
}

.Lern_bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.button_viewall {
    text-align: center;
}

.btn-color {
    line-height: normal;
    --bs-btn-color: #000000;
    --bs-btn-bg: #A2DBFA;
    --bs-btn-border-color: #A2DBFA;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: rgba(124, 177, 255, 0.915);
    --bs-btn-hover-border-color: rgba(124, 177, 255, 0.9815);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: rgba(124, 177, 255, 0.815);
    --bs-btn-active-border-color: #a2dbfaa7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000000;
    --bs-btn-disabled-bg: #A2DBFA;
    --bs-btn-disabled-border-color: #0d6efd
}

.footer {
    background-color: #053742;
}

.footer p {
    color: white;
    text-align: right;
}

/* for nav footer css end*/

body {
    background-image: url(../img/low\ website\ background.jpg);
    max-width: 1519.2px;
    margin: auto;
}

.container {
    position: relative;
}

.carousel-caption {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
}

.carousel-caption h1 {
    position: relative;
    color: white;
    font-size: 150px;
    font-family: 'Jomhuria', cursive;
}

.carousel-caption p {
    position: relative;
    color: white;
    font-size: 60px;
    font-family: 'Jomhuria', cursive;
}

.d-block {
    height: 650px;
    aspect-ratio: 22 /9;
    object-fit: cover;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.txt-center {
    display: flex;
    align-items: center;
    text-align: center;
}

.fontJomhuria {
    font-family: 'Jomhuria', cursive;
}

.fontContent {
    font-size: 38px;
    line-height: normal;
}

.dp-flex {
    display: flex;
}

#malaysia_flag {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {

    /* for footer css */
    .footer {
        flex-direction: column;
    }

    #footer-logo {
        text-align: center;
        padding-top: 20px;
    }

    #footer-navlink {
        flex-direction: column;
        text-align: center;
    }

    #footer-navlink a {
        padding-top: 16px;
    }

    #footer-social {
        justify-content: center;
    }

    #footer-social img {
        width: 80px;
        padding: 20px;
    }

    #footer-copyright {
        justify-content: center;
    }

    #footer-copyright p {
        text-align: center;
    }

    /* for nav footer css end*/
}