.container-xxl {
    padding: 0;
    background-image: url(../img/web_site\ background\(opacity-50\).png);
}

/* for page-change link */
#page-change a {
    text-decoration: none;
    color: black;
}

#page-change a:hover {
    color: #39A2DB;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

#page-change h4 {
    font-size: 40px;
}

/* for nav footer css */
.navbar {
    background-color: #053742;
}

.nav-link {
    color: white;
    font-weight: bold;
}

.nav-link:visited {
    color: white;
}

.nav-link:hover {
    color: #A2DBFA;
}

.navbar-toggler {
    background-color: #E8F0F2;
    border: none;
    color: #A2DBFA;
}

.footer {
    background-color: #053742;
}

.footer p {
    color: white;
    text-align: right;
}

#main_page_img {
    position: relative;
    background-image: url(../img/klcc/istockphoto-521045908-612x612.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;

    /* for h1 center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontWhite {
    color: white;
    margin: 0;
}

.fontRelative {
    position: relative;
}

#main_page_img h1 {
    position: relative;
    color: white;
    font-size: 150px;
    font-family: 'Jomhuria', cursive;
}

#main_page_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}


.fontJomhuria {
    font-family: 'Jomhuria', cursive;
}

.fontContent {
    font-size: 38px;
    line-height: normal;
}

.fontBlue {
    color: #39A2DB;
}

.font-100 {
    font-size: 100px;
}

.font-80 {
    font-size: 80px;
}

.transport {
    border: 2px black solid;
}

#carouselExampleAutoplaying1 .carousel-inner .carousel-item img {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

#carouselExampleAutoplaying2 .carousel-inner .carousel-item img {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

#carouselExampleAutoplaying3 .carousel-inner .carousel-item img {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

#carouselExampleAutoplaying4 .carousel-inner .carousel-item img {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1050px) {
    #footer-logo a img {
        width: 100%;
    }
}


@media screen and (max-width: 992px) {
    .navbar a {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #footer-social {
        justify-content: end;
    }

    .footer_logo {
        padding-right: 24px;
    }

    #footer_logo_end {
        padding-right: 48px;
    }

    #footer-copyright {
        justify-content: end;
        padding-right: 48px;
    }

}

@media screen and (max-width: 768px) {

    /* for page-change link */
    #page-change {
        flex-direction: column;
        text-align: center;
    }

    #page-change h4 {
        margin: 0;
    }

    #next {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #previous {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .navbar a {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* for footer css */
    .footer {
        flex-direction: column;
    }

    #footer-logo {
        text-align: center;
        padding-top: 20px;
    }

    #footer-navlink {
        flex-direction: column;
        text-align: center;
    }

    #footer-navlink a {
        padding-top: 16px;
    }

    #footer-social {
        justify-content: center;
    }

    #footer-social img {
        width: 80px;
        padding: 20px;
    }

    #footer-copyright {
        justify-content: center;
    }

    #footer-copyright p {
        text-align: center;
    }

    #main_page_img {
        height: 600px;
    }

    #main_page_img h1 {
        font-size: 120px;
    }

    #flex1 {
        flex-direction: column;
    }

    #img1 {
        width: 100%;
        margin-bottom: 30px;
    }

    #flex2 {
        flex-direction: column-reverse;
    }

    #flex3 {
        flex-direction: column;
    }

    #flex4 {
        flex-direction: column-reverse;
    }

    #flex5 {
        flex-direction: column;
    }

    #flex6 {
        flex-direction: column;
        margin-bottom: 24px;
    }

    #flex7 {
        flex-direction: column;
    }

    .transport {
        width: 100%;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 415px) {
    #main_page_img {
        height: 500px;
    }

    #main_page_img h1 {
        font-size: 100px;
    }
}